<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traverlo Planning App</title>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
</head>

<body>
    <div class="layout-wrapper">
        <header>
            <div class="logo">
                <img />
                <h1>Traverlo</h1>
            </div>
            <nav>
                <a href="./index.html">Home</a>
                <a href="./index.html">Planner</a>
                <a href="./index.html">About</a>
            </nav>
        </header>
        <main>
            <section class="input-wrapper">
                <h2>Add new trip</h2>

                <form class="input-form">
                    <div class="row fields">
                        <label class="field-wrapper">
                            Location
                            <input type="text" placeholder="Enter location..." />
                        </label>

                        <label class="field-wrapper">
                            Start Date
                            <input type="date" />
                        </label>

                        <label class="field-wrapper">
                            End Date
                            <input type="date" />
                        </label>
                    </div>

                    <div class="row">
                        <input type="button" id="add-location" value="+" />
                    </div>

                    <div class="row">
                        <div class="field-wrapper">
                            <label for="add-item">Add item</label>
                            <input type="text" id="add-item" placeholder="Add item..." />
                        </div>

                        <div class="field-wrapper">
                            <label for="packaging-list">Packaging list</label>
                            <ul id="packaging-list" class="list"></ul>
                        </div>
                    </div>
                    <input type="button" id="save-trip" value="Save trip" />
                </form>
            </section>

            <section class="triplist-wrapper">
                <h2>Triplist</h2>
                <div class="trip-wrapper">
                    <h3>Santa Monica - San Francisco - Seattle</h3>

                    <div class="row">
                        <div class="col">
                            <div class="trip-details">
                                Countdown
                                15 Days to go
                            </div>

                            <input type="button" id="export-trip" value="Export to PDF" />
                            <input type="button" id="cancel-trip" value="Cancel Trip" />
                        </div>

                        <div class="list">
                            Packaging list
                            \n
                            - Sun 1 \n
                            - Sun 2
                            - Sun 3
                        </div>
                    </div>

                    <div class="location-wrapper">
                        <h4>San Francisco</h4>
                        <img class="location-img">
                        <h4>Weather</h4>
                        <div class="weather-wrapper">
                            <div class="row center">
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                                <div class="day">
                                    <span>25.01</span>
                                    <img src="<%= require('../media/weather-sunny.svg') %>">
                                    <span>23°C</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </main>
        <footer>
            <span>Made with ❤️ by Webelephant</span>
        </footer>
    </div>
</body>

</html>