/*** Variables ***/
$background-color: #dabfff;
$background-dark-color: #4f518c;
$background-highlight-color: #907ad6;
$primary-color: #2c2a4a;
$secondary-color: #7fdeff;
$field-background: #8d90ef;

$primary-font: "Italianno";
$secondary-font: "Jura";

$input-elements: 'input[type="text"], input[type="date"], input[type="button"]';

/*** Mixins ***/
@mixin input-theme {
  font-size: 24px;
  color: white;
  background-color: $field-background;
  font-family: $secondary-font;
  border: none;
  border-radius: 25px;
}

/*** General ***/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $primary-font;
  font-size: 64px;
  color: white;
  background: $background-color;
}

/*** Layout ***/
.layout-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  header {
    padding-left: 50px;
    grid-area: "header";
    background: $primary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  main {
    grid-area: "main";
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 25px;
  }

  footer {
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
  }
}

/*** Header ***/
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  h1 {
    padding-top: 8px;
    font-size: 128px;
    color: $secondary-color;
    font-weight: normal;
  }
}

nav {
  margin-right: 60px;
  display: flex;
  gap: 60px;

  a {
    font-size: 75px;
    color: white;
    text-decoration: none;
  }
}

/*** Main Area ***/
.input-wrapper,
.triplist-wrapper {
  background: $background-dark-color;
  border-radius: 25px;
  padding: 30px;

  h2 {
    font-size: 75px;
    font-weight: normal;
  }

  h3 {
    font-size: 64px;
    font-weight: normal;
  }

  h4 {
    font-size: 52px;
    font-weight: normal;
  }
}

.trip-wrapper {
  background: $background-highlight-color;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trip-head {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.center {
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.day {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-family: $secondary-font;
  color: $primary-color;
}

#{$input-elements},
.trip-packaging-list,
#export-trip,
#cancel-trip {
  @include input-theme;
  padding: 5px 20px 5px 20px;
}

.trip-details {
  @include input-theme;
  display: inline-block;
  padding: 5px 20px 5px 20px;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;

  .field-wrapper {
    display: flex;
    flex-direction: column;
  }

  #packaging-list {
    @include input-theme;
    padding: 5px 42px 5px 42px;
    min-height: 100px;
  }

  input::-webkit-input-placeholder {
    color: white;
  }

  input:focus,
  input:focus {
    outline: none;
  }

  input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  input[type="button"] {
    cursor: pointer;
  }
}

.location-img {
  max-width: 45%;
  border-radius: 25px;
}
